{% extends 'base.twig' %}

{% block body %}
  {% if post.image_path is not null %}
    <img src="{{ asset_url(post.image_path) }}" class="card-img-top" alt="{{ post.title|escape }}">
  {% endif %}
  <h1 class="mt-3 mb-3">{{ post.title|escape }}</h1>
  <div class="mb-3">
    <div class="row">
      <span class="text-muted">Олег Дерябин | {{ post.published_date|date("d F Y") }}</span>
    </div>
  </div>
  <div>
    {{ post.content|raw }}
  </div>
{% endblock %}